/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

/* Header styles */
header {
    background-color: #1A1A1A;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation styles */
nav {
    background-color: #f2f2f2;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

/* Main styles */
main {
    padding: 20px;
}

/* Section styles */
section {
    margin-bottom: 20px;
}

section h2 {
    margin-top: 0;
}

/* Pricing section styles */
section#pricing {
    text-align: center;
}

section#pricing a {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Footer styles */
footer {
    background-color: #1A1A1A;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#image-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    min-height: 500px;
    background-size: 100%;
    background-position: 10%;
    border-radius: 1rem;
}

#contact {
    width: 100%;
    
}

/* Form container */

form { 
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 40%;
    padding: 3rem;
    padding-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: difference;
    color: white;
}

/* Form inputs */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: transparent;
    color: rgba(255, 255, 255, 0.8)
}

textarea {
    min-height: 100px;
}

/* Form label */
label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/* Form submit button */
input[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* Form submit button on hover */
input[type="submit"]:hover {
    background-color: #3E8E41;
}
